<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	 <div class="navbar">
			 <div class="navbar-inner">
			    <a class="brand" href="#">Title</a>
			    <ul class="nav">
			    <li class="active"><a href="#">Home</a></li>
			    <li><a href="#">Link</a></li>
			    <li><a href="#">Link</a></li>
			    </ul>
			    </div>
		</div>
        #{doLayout /}
    </body>
</html>
