#{extends 'main.html' /}
#{set title:'Liste des trajets' /}

<h1>Liste des trajets disponibles</h1>
<table class="table">
	<tr>
		<th>Date</th>
		<th>D&eacute;part</th>
		<th>Arriv&eacute;e</th>
		<th>Conducteur</th>
	</tr>
#{list items:trajetsDisponibles, as:'trajet'}
    <tr>
    	<td>${trajet.dateDepart}</td>
    	<td>${trajet.VilleDepart}</td>
    	<td>${trajet.VilleArrive}</td>
    	<td>${trajet.Conducteur.nom + " " +trajet.Conducteur.prenom}</td>
    	<td><a href="@{Trajets.demander(trajet.id)}">Demander</a></td>
    </tr>
#{/list}
	<tr>
		<td colspan="3">Total = ${trajetsDisponibles.size}</td>
	</tr>
</table>